body
{
    background-image: url("../img/Fondo.png");
    background-repeat: no-repeat; 
    background-size: cover;
}
#cabeceraimg 
{
    width:100%; 
	height: 320px; 
	border-color: #408000; 
	border-width: 5px; 
    border-style: double;
}
#cabecera 
{
    text-align:center;
    color:white;
    font-family:Arial, helvetica, sans-serif;
}
#menu 
{
    text-align: center; 
    color:#ffffff ;
    font-family: fantasy;
    float: left; 
}
ul li
{
    background-color: #408000; 
    border-color: #ffffff; 
    border-style: solid; 
    border-width: 5px; 
    border-radius: 5px; 
    padding-right: 15px;
    padding-left: 15px;
    list-style: none;
    text-align: center; 
}
#menu li a 
{
    color: white;
}
#menu li a:hover 
{
    background-color: white;
    color: #408000;
}
#central 
{
    color: white; 
    font-family: fantasy;
    float: left;
    background-color: #408000;
    width: 99.7%;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: white;
    background: rgba(76, 175, 80, 0.8);
}
#contenido 
{
    float: left;
    background-color: #408000;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border color: white;
    background: rgba(76, 175, 80, 0.8);
}
#contenido h1 
{
    float: top; width: 49%; 
    padding-left: 25px;
}
#cronologia 
{
    width: 100%;
    height: 580px;
    float: bottom;
}
#Lineacronologica 
{
    text-decoration: underline; 
    text-indent: 25px; 
    float: top; 
}
#menu ul
{
    padding: 0;
    list-style: none;
}
#games > li
{
    display: inline-block;
}
#games > li > a
{
    display: block;
}
li ul
{
    position: absolute;
    display: none;
}
.AT
{
    display: block;
}
li:hover ul
{
    display: block;
}
.FT
{
    display: block;
}
.CT
{
    display: block;
}